<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= dirName %> | <%= site_name %></title>
    <meta name="theme-color" content="#<%= theme_color %>">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="<%= site_name_meta %>">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:description" content="<%= desc %>">
    <meta name="description" content="<%= desc %>">
    <link rel="icon" href="<%= icon %>">
    <link rel="stylesheet" href="https://src.simplecyber.org/base.css">
    <script defer src="https://src.simplecyber.org/base.js"></script>
    <script defer src="https://src.simplecyber.org/tabbable.js"></script>
    <script defer src="https://src.simplecyber.org/focus-trap.js"></script>
    <script defer src="https://src.simplecyber.org/dayjs.min.js"></script>
    <script src="https://src.simplecyber.org/prism.js" data-manual></script>
</head>
<body class="changeColours" style="--fgHue: <%= hue %>">
    <div class="container col">
        <div id="head">
            <div id="title"><%= site_name %></div>
            <div id="path" class="no-select">
                <% for (const part of tree) { %>
                    <a href="<%= part.path %>" class="part">
                        <%= part.name %>
                    </a>
                    <span class="sep"></span>
                <% } %>
            </div>
        </div>
        <% if (files) { %>
            <div class="card no-select">
                <div class="header row no-wrap align-center gap-10" style="padding: 4px 15px">
                    <div class="flex-grow" style="margin-top: 1px;"><%= stats.count_string %> • <%= stats.duration %>ms</div>
                    <button id="sort" class="btn alt2 small noShadow" title="Sort files...">
                        <%= sort.order.display %>
                        <div class="icon"><%= (sort.descending) ? 'arrow_upward' : 'arrow_downward' %></div>
                    </button>
                </div>
                <div id="fileList" class="body">
                    <% for (const file of files) { %>
                        <a href="<%= file.path %><%= (file.shouldRender) ? '?render=true':'' %>" class="fileEntry" data-should-render="<%= file.shouldRender %>" data-is-dir="<%= file.isDir %>" data-path="<%= file.path %>">
                            <div class="icon"><%= file.icon %></div>
                            <div class="name col gap-2">
                                <div><%= file.name %></div>
                                <% if (file.icon !== 'arrow_upward') { %>
                                    <div class="lower">
                                        <span data-timestamp="<%= file.mtime %>">-</span>
                                        <% if (file.sizeHuman) { %>
                                            • <span><%= file.sizeHuman %></span>
                                        <% } %>
                                    </div>
                                <% } %>
                            </div>
                            <div class="modified" data-timestamp="<%= file.mtime %>">-</div>
                            <div class="size"><%= file.sizeHuman || '-' %></div>
                        </a>
                    <% } %>
                </div>
            </div>
        <% } %>
        <% if (readme) { %>
            <div id="readmeCard" class="card" data-preview-type="markdown">
                <div class="header row no-wrap align-center gap-10" style="padding: 4px 15px">
                    <div class="flex-grow" style="margin-top: 1px;">README</div>
                    <a class="btn alt2 small noShadow iconOnly" href="<%= readme.path %>?render=true" title="Open this file">
                        <div class="icon">open_in_new</div>
                    </a>
                </div>
                <div id="readme" class="body"><%- readme.html %></div>
            </div>
        <% } %>
        <% if (previewType) { %>
            <div id="previewCard" class="card" data-preview-type="<%= previewType %>">
                <div class="header row no-wrap align-center gap-10" style="padding: 4px 15px">
                    <a id="download" class="btn alt2 small noShadow iconOnly" href="<%= tree[tree.length-2].path %>" title="Back to containing folder">
                        <div class="icon">arrow_back</div>
                    </a>
                    <div class="flex-grow" style="margin-top: 1px;"><%= dirName %></div>
                    <a id="download" class="btn alt2 small noShadow iconOnly" href="<%= path %>" download title="Download this file">
                        <div class="icon">download</div>
                    </a>
                </div>
                <div class="body">
                    <% if (previewType == 'markdown') { %>
                        <%- html %>
                    <% } %>
                    <% if (previewType == 'image') { %>
                        <img src="<%= path %>">
                    <% } %>
                    <% if (previewType == 'video') { %>
                        <iframe allow="autoplay; fullscreen; clipboard-write" frameborder="0" data-video-url="<%= path %>"></iframe>
                    <% } %>
                    <% if (previewType == 'text') { %>
                        <pre><code><%- text %></code></pre>
                    <% } %>
                </div>
            </div>
        <% } %>
        <div id="footer">
            <p>Powered by <a href="https://github.com/CyberGen49/cyberfiles-lite">CyberFiles Lite</a></p>
        </div>
    </div>
</body>
<%- css %>
<%- js %>
</html>